/ Assignments Follow
.assignment_list
  %ul
    -@assignments.each do |assign|
      %li
        .assignment_title
          %a{:name => assign[:title]}= assign[:title]
        .assignment_description= assign[:description]
        %a{:href => assign[:href], :name => assign[:title], :alt => assign[:title]} More Details
        -if assign[:week_of] != nil
          Week Of
          = assign[:week_of].strftime('%A, %B ')
        -if assign[:assigned] != nil
          Assigned
          = assign[:assigned].strftime('%A, %B ')
        -if assign[:due] != nil
          Due
          = assign[:due].strftime('%A, %B ')
